


<h2>The Portfolio: <%= @total %></h2>
<table>
  <tr>
    <th>Position</th>
    <th>Cash Amount</th>
    <th>Percent of Portfolio</th>
    <th>Num Shares</th>
    <th>Liquidate</th>
    <th>Update Share Price</th>
  </tr>
    <tr>
      <td>Cash</td>
      <td><%= @user["cash_held"] %></td>
      <td><%= @user["cash_percent"] %></td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      </tr>
      
  <% @positions.each do |p| %>
    <tr>
      <td><%= p["name"] %></td>
      <td><%= p["value"] %></td>
      <td><%= p["percentage"] %></td>
      <% if not p["qty"].nil? %>
        <td><%= p["qty"] %></td>
      <% else %>
        <td>N/A</td>
      <% end %>
      <td><%= link_to 'Destroy', position_path(p["_id"]),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% if not p["qty"].nil? %>
        <td>
          <%= form_for :new_price, method: :put, url: ("/positions/"+p["_id"]) do |f| %>
          <p>
            <%= f.label :"New Share Price" %><br>
            <%= f.number_field :share_price %>
          </p>
          <p>
            <%= f.submit %>
          </p>
          <% end %>
        </td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Deposit Cash</h2>
<%= form_for :deposit, method: :put, url: user_path(@user["_id"]) do |f| %>
  <%= f.hidden_field :id, value: @user["_id"]%>
  <p>
    <%= f.label :"Amount To Add" %><br>
    <%= f.number_field :deposit_amt %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>


<h2>Add a Position</h2>

<%= form_for :position, method: :post, url: "/positions" do |p| %>
  <%= p.hidden_field :userId, value: @user["_id"]%>
  <p>
    <%= p.label :"Company Ticker" %><br>
    <%= p.text_field :name %>
  </p>
  <p>
    <%= p.label :"Amount To Invest" %><br>
    <%= p.number_field :value %>
  </p>
  <p>
    <%= p.label :"Price Per Share [OPTIONAL]" %><br>
    <%= p.number_field :pps %>
  <p>
    <%= p.submit %>
  </p>
<% end %>
<a href="/">Home</a>